*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  font-weight: 400;
}

header {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main {
  height: 550px;
  width: 95vw;
  margin: 50px 0;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#viewer {
  height: 85%;
  min-height: 200px;
  max-height: 100%;
  width: 85%;
  min-width: 250px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: lightgrey;
  border: 6px solid black;
  resize: both;
  overflow: auto;
}

footer {
  display: flex;
  justify-content: center;
}